@import "palette";
@import "variables";
@import "typography";
*{
    @include reset;
}
//header start
header{
    @include flex-col;
    font-family: $pageFont;
    width: 100%;
    height: 800px;
    background-image: url("../img/hero/hero-07-2x.jpg");
    background-position: center;
    background-size: cover;

    .navbar{
        @include flex-row;
        width: 80%;
        justify-content: space-between;
        height: 200px;
        margin:0 auto ;

        ul{
            @include flex-row;
            list-style: none;
            justify-content: space-between;
            align-items: center;
            height:100%;
        }
        ul li{
            line-height: 70px;
            color: $brandWhite;
            cursor: pointer;
            &:hover{             
                border-top: 6px solid $brandSaffron;
                color: $brandSaffron;
            }
        }     

        &-logo{
            @include flex-row;
            height: 100%;
            width: 250px;
            align-items: center;
            justify-content: center;
            
        }
        &-menu{
            width: 50%;
            height: 35%;
            margin-right: 40px;
            justify-self: flex-end;
        }
    }

    .jumbotron-one{
        @include flex-row;
        margin-top: 30px;
        width: 81%;
        height: 120px;
        align-self: flex-end;
        justify-content: space-between;

        .author-name{
            @include flex-row;
            @include coursiveTitle;
            justify-content: flex-start;
            align-items: flex-end;
            margin-left: 4px;
            height: 100%;
            width: calc(100% - 50px);
            font-size: 50px;
            
        }

        .demo-price{
            @include flex-col;
            height: 100%;
            width: 50px;
            align-items: flex-end;
            justify-content: space-between;
        
            .demo{
                height: 48%;
                width: 100%;
                background-color: $brandWhite;
                text-align: center;
                margin-right: 10px;
                border-radius: 5px;
                cursor: pointer;

                i{
                    font-size: 25px;
                }
                span{
                    font-size: 12px;
                }
            }
            .price{
                height: 48%;
                width: 100%;
                background-color:$brandWhite;
                text-align: center;
                font-size: 22px;
                margin-right: 10px;
                border-radius: 5px;
                color: #65BC7B;
                cursor: pointer;

                span:first-child{
                    font-size: 12px;
                    vertical-align: top;
                }
                span:nth-child(3){
                    font-size: 12px;
                    color: $brandBlack;
                }
            }
        }

    }

    .jumbotron-two{
        @include flex-row;
        width: 90%;
        height: calc(100% - 320px);
        align-self: flex-end;
        justify-content: flex-end;

        .journal-desc{
            height: 100%;
            width: 55%;
            color: $brandWhite;
            font-family: $journalFont;
            h2{
                font-size: 40px;
                margin-bottom: 40px;
            }
            span{
                color: $brandPumice;
            }
            
            .jumbotron-controls{
                @include flex-row;
                margin-top: 50px;
                width: 120px;
                height: 50px;
                justify-content: space-between;

                .left{
                    @include flex-row;
                    @include jumbotron-controls;
                    border-bottom-left-radius:5px ;
                    border-top-left-radius: 5px;
                }
                .right{
                    @include flex-row;
                    @include jumbotron-controls;
                    border-bottom-right-radius:5px ;
                    border-top-right-radius: 5px;
                }
            }
        }
        .lastet-book{
            @include flex-col;
            align-self: flex-end;
            height: 90%;
            width: 35%;

            .book-image{
                @include flex-row;
                width: 100%;
                height: 70%;
                background-color:$brandWhite;

                &-container{
                    @include flex-row;
                    align-items: flex-end;
                    justify-content: flex-end;
                    width: 50%;                 

                    img{
                        width: 70%;
                    }
                }
               
                .book-release{
                    width: 50%;  
                    
                    h3{
                        margin-top: 55px;
                        font-size: 25px;
                        color: $brandBlack;
                        font-family: $journalFont;
                    }
                    h4{
                       @include pageSubtitleH4Gold;
                    }
                    p{
                        margin-top: 12px;
                        padding-right: 50px;
                        color: $brandGrey;
                    }
                }
                
            }
            .buy-on-sec{
                @include flex-row;
                width: 100%;
                height: 30%;
                background-color: $brandWhite;
                align-items: center;
                justify-content: center;

                &-button-container{
                    @include flex-row;
                    width: 80%;
                    height: 45%;
                    text-align: center;
                    i{
                        margin-right: 10px;
                        vertical-align: middle;
                    }

                    .button-appstore{
                        @include buy-button-style;
                        border-bottom-left-radius:5px ;
                        border-top-left-radius: 5px;
                        &:hover{
                           @include buy-button-hover;
                        }
                       
                    }
                    .button-amazon{
                        @include buy-button-style;
                        border-bottom-right-radius:5px ;
                        border-top-right-radius: 5px;
                        &:hover{
                            @include buy-button-hover;
                        }
                    }
                }
            }
        }
    }

}
//header end

//main start
main{
    @include flex-col;
    font-family: $pageFont;
    .author-meet-sec{
        @include flex-col;
        width: 70%;
        align-self: center;
        height: 400px;
        justify-content: center;
        text-align: center;
        h2{
           @include coursiveTitle;
            font-size: 65px;
            margin-bottom: 35px;
        }
        p{
            font-size: 30px;
            font-weight: bold;
            color: $brandBlack;
            line-height: 45px;
        }
        button{
           @include page-button-style;

           &:hover{
            background-color: $brandLagoon;
           }
        }
    }
    .commercial-partner-sec{
        @include flex-row;
        width: 100%;
        height: 140px;
        justify-content: center;
        background-color: $brandPink;
        ul{
            @include flex-row;
            width: 50%;
            height: 100%;
            list-style: none;
            justify-content: space-around;
            align-items: center;
        }
    }
    .audiobook-sec{
        @include flex-row;
        width: 100%;
        height: 700px;
        background-image: url("../img/banner/banner.jpg");
        background-position: top;
        background-size: cover;
        align-items: flex-end;
        justify-content: center;

        &-content{
            @include flex-row;
            width: 70%;
            height: 90%;

            &-image{
                width: 45%;
                height: 100%;
                img{
                    height:100%;
                    width: 100%;
                }
            }
            &-desc{
               width: 40%;
               height: 70%;
               align-self: flex-end;
               text-align: center;
               h2{
                   font-size: 35px;
                   color: $brandWhite;
                   font-family: $journalFont;
               }
               h4{
                   @include pageSubtitleH4Gold;
               }
               p{
                   margin-top: 18px;
                   color: $brandPumice;

               }

               ul{
                @include flex-row;
                margin-top: 40px;
                width: 100%;
                list-style: none;
                justify-content: space-around;
                align-items: center;
               }
            }
        }
    }
    .crities-say-section{
        @include flex-col;
        align-items: center;
        width: 100%;
        &-header{
            @include flex-row;
            justify-content: space-between;
            width: 80%;
            height: 160px;

            .crities-header-title{
                width: 40%;
                h2{
                    font-family: $journalFont;
                    margin-top: 15px;
                    font-size: 40px;
                }
                h4{
                    @include pageSubtitleH4Gold;
                    color: $brandCyano;
                }
            }
            .crities-header-button{
                width: 20%;
                align-self: center;
                button{
                    @include page-button-style;
                    width: 200px;
                    background-color: $brandSaffron;
                    margin-top: 0;
                    &:hover{
                        background-color: $brandGold;
                    }
                }
            }

        }
        &-content{
            width: 80%;
            height: 700px;
            @include flex-row;
            justify-content: space-between;
            &-article{
                @include flex-col;
                align-items: center;
                justify-content: center;
                width: 60%;
                height: 100%;
                background-image: url("../img/thumbetestimonial/testimonial2-2x.jpg");
                background-size: cover;
                background-position: center;
                border-bottom-right-radius: 100px;
                color: $brandWhite;
                h2{
                    font-size: 45px;
                    padding-bottom: 20px;
                    font-weight: normal;
                    font-family: $journalFont;
                    border-bottom: 1px solid $brandLightGrey;
                }
                h4{
                   font-size: 20px;
                   padding: 20px 0px;
                }
                p{
                    padding: 20px 150px;
                }
                div{
                    align-self: flex-start;
                    margin-left: 150px;
                    font-weight: bold;
                    span:last-child{
                        color: $brandCyano;
                    }
                    img{
                        vertical-align: middle;
                        margin-right: 15px;
                    }

                }
            }
            &-journal{
                @include flex-col;
                width: 35%;
                height: 100%;
                justify-content: space-around;
                align-items: flex-end;
                
                div:nth-child(2),div:nth-child(4){
                    align-self: flex-start;
                    color: $brandLightGrey;
                    img{
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                    span{
                        color: $brandGrey;
                    }
                }
                .crities-journal-first,.crities-journal-second{
                   @include crities-journal-style;
                  
                }
            }
            
        }
    }
    .upcoming-event-sec{
        @include flex-col;
        margin-top: 50px;
        align-items: center;
        width: 100%;
        background-color: $brandPink;
        &-header{
            @include flex-col;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 160px;
           
            h2{
                font-family: $journalFont;
                font-size: 35px;
            }
            h4{
                @include pageSubtitleH4Gold;
                margin-top: 10px;
            }
        }
        &-content{
            @include flex-row;
            justify-content: space-between;
            width: 80%;
            height: 450px;
            
            .event-one,.event-two,.event-three{
             @include events-style;
             h3{
                 padding: 20px 0px;
             }
             p{
                 color: $brandGrey;
             }
            }
        }
    }

}