//Color cube
$brandWhite:#FFFFFF;
$brandBlack:#030303;
$brandGrey:#434343;
$brandLightGrey:#868586;
$brandPumice:#BEC6BE;
$brandLagoon:#027986;
$brandBronze:#936C0F;
$brandFount:#51BFC7;
$brandSaffron:#F3B329;
$brandCrimson:#D61A2A;

//Median cut
$brandPink:#F3ECE3;
$brandRifle:#1D1C1A;
$brandStone:#96A4A3;
$brandBrown:#7C6E69;
$brandDarkStone:#86888E;
//Material Design
$brandGold:#E1AA40;
$brandIron:#5B5B5B;
$brandCyano:#3DA698;
$brandGround:#453E39;
$brandCamel:#D5AD91;

$brandBuyButtoncolor:#A4D2C2;