@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
}
@mixin jumbotron-controls {
    align-items: center;
    justify-content: center;
    width: 48%;
    cursor: pointer;
    background-color: rgba($color: #000000, $alpha: 0.7);
}
@mixin buy-button-style {
    width: 50%;
    height: 100%;
    border: 1px groove $brandBuyButtoncolor;
    cursor: pointer;
    background-color: #F5FCFA;
    box-shadow: 0px 0px 5px $brandFount;
    @include flex-row;
    align-items: center;
    justify-content: center;
}
@mixin buy-button-hover {
    background-color: $brandWhite;
    border: 1px groove $brandCyano;
}
@mixin page-button-style {
    align-self: center;
    width: 150px;
    height: 45px;
    margin-top: 45px;
    border: none;
    border-radius: 10px;
    color: $brandWhite;
    cursor: pointer;
    background-color: $brandCyano;
}
@mixin coursiveTitle {
    color: $brandSaffron;
    font-family: $fontCoursive;
}
@mixin pageSubtitleH4Gold {
    margin-top: 25px;
    text-transform: uppercase;
    color: $brandGold;
}
@mixin crities-journal-style {
    height: 40%;
    width: 90%;
    background-color:$brandPink;
    text-align: center;
    padding: 25px;
    position: relative;
   
}
@mixin events-style {
    width: 30%;
    height: 100%;
    text-align: center;
    img{
        width: 100%;
    }
}
@mixin booklist-style {
    width: 70%;
    height: 40%;
}
@mixin sideBoxFixed-style {
    justify-content: center;
    height: 48%;
    width: 100%;
    background-color:$brandWhite;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 20px $brandGrey;
}
@mixin headerAnimation {
    .slide-fade-enter-active {
        transition: all .8s ease-in-out;
      }
      .slide-fade-leave-active {
        transition: all .8s ease-in-out;
      }
      .slide-fade-enter, .slide-fade-leave-to
       {
        transform: translateY(-130px);
        opacity: 0;
      }
}